<!-- If you want to see example below in your emulator or device, you need uncomment the GridLayout below and comment the GridLayout above -->

<GridLayout rows="*,*"
  columns="*,*"
  class="tw-gridlayout">
  
  <FlexboxLayout row="0" col="0"
    flexDirection="row">
    <Label class="tw-label one" text="row"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="0" col="1"
    flexDirection="row-reverse"
    flexWrap="wrap">
    <Label class="tw-label one" text="row-reverse dsdds sdds"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="0"
    flexDirection="column">
    <Label class="tw-label one" text="column"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="1"
    flexDirection="column-reverse">
    <Label class="tw-label one" text="column-reverse"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

</GridLayout>

<!--<GridLayout rows="*,*,*"
  columns="*,*"
  class="tw-gridlayout">
  
  <ScrollView row="0" col="0" orientation="horizontal">
    <FlexboxLayout 
      flexDirection="row"
      flexWrap="nowrap">
      <Label class="tw-label one" text="row+nowrap(overflow)"></Label>
      <Label class="tw-label two" text="2"></Label>
      <Label class="tw-label three" text="3"></Label>
      <Label class="tw-label four" text="4"></Label>
    </FlexboxLayout>
  </ScrollView>
  
  <FlexboxLayout row="0" col="1" 
    flexDirection="row"
    flexWrap="wrap">
    <Label class="tw-label one" text="row+wrap(multi-lines)"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="0"
    flexDirection="row"
    flexWrap="wrap-reverse">
    <Label class="tw-label one" text="row+(wrap-reverse)"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="1" col="1"
    flexDirection="row-reverse"
    flexWrap="nowrap">
    <Label class="tw-label one" text="(row-reverse)+nowrap"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="2" col="0"
    flexDirection="row-reverse"
    flexWrap="wrap">
    <Label class="tw-label one" text="(row-reverse)+wrap"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

  <FlexboxLayout row="2" col="1"
    flexDirection="row-reverse"
    flexWrap="wrap-reverse">
    <Label class="tw-label one" text="(row-reverse)+(wrap-reverse)"></Label>
    <Label class="tw-label two" text="2"></Label>
    <Label class="tw-label three" text="3"></Label>
    <Label class="tw-label four" text="4"></Label>
  </FlexboxLayout>

</GridLayout>-->

